* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --grid-gap: 20px;
}

.container{
	

}

.header {
	
}

.footer {
	
}

.main__content{
	

}

.main__right__sidebar{
	
}

.main__left__sidebar{
	
}